<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-3">
            <h1 class="text-center">Signup</h1>
            <form action="/signup" method="post" >
                <div class="form-group m-2">
                    <label for="">Name</label>
                    <input type="text" name="Name" id="" class="form-control" placeholder="Enter Your Name">
                </div>
                <div class="form-group m-2">
                    <label for="">Email</label>
                    <input type="email" name="Email" id="" class="form-control" placeholder="Enter Your Email">
                </div>
                <div class="form-group m-2">
                    <label for="">Password</label>
                    <input type="password" name="Password" id="" class="form-control" placeholder="Enter Your Password">
                </div>
                <a href="/login" class="mt-2">Already have Account?</a>
                <button class="btn btn-primary float-end mt-2" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>