<h1 class="text-center m-2">Your order has placed successfully</h1>
<div class="d-flex m-2 align-items-center justify-content-center">
    <a class=" btn btn-primary" href="/myorder">view-myorders</a>
</div>